* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

/* resets */

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* utility classes */

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}    


.border_style-padding {
    border: 3px solid white;
    padding: 1em;
}


body{
    font-family: 'Nunito Sans', sans-serif;
    background-image: url("bgimg.jpeg");
    background-size: cover;
    padding: 0 1em;
    background-attachment: fixed;
}    

/* component classes */

.navbar {
    background-color: rgba(0, 255, 255, .8);
    width: calc(100% - 2em);
    padding: 2em;
    gap: 5rem;
    position: fixed;
    top: 0;
    z-index: 6;
}

.space {
    padding: 2.5em;
}

.section_one {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.left {
    display: flex;
    width: 70%;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.num_card_container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.num_card {
    height: 5rem;
    width: 5rem;
    position: relative;
    cursor: pointer;
    z-index: 5;
}

.num {
    font-size: 3rem;
    font-weight: bolder;
}

.card {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 800ms ease-in-out;
}

.shutter_overlay {
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease-in-out,
    height 300ms ease-in-out;
}

/* hover effects for cards */

.num_card:hover > .card{
    left: 100%;
}

.num_card:nth-child(4):hover > .card{
    left: -100%;
}

.num_card:hover ~ .shutter_overlay {
    opacity: 1;
    height: 100%;
}

.empty {
    flex-grow: 1;
}

/* styling of right side */

.right {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 1rem;
    position: sticky;
    top: 13%;
}

.boxes {
    background-color: aqua;
    width: calc(50% - .5rem);
    height: 5rem;
}

.right > :nth-child(3) {
    width: 100%;
}

.section_two {
    height: 50rem;
    margin-top: 1rem;
}

.chat_container {
    cursor: pointer;
    width: fit-content;
    background-color: darkcyan;
    position: fixed;
    top: 85%;
    right: calc(0% + 1rem);
    z-index: 1000;
}

.chat_img {
    font-size: 5rem;
}

.nav_hover {
    background-color: rgba(31, 188, 136, 0.95);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2em;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-in-out;
}

.chat_container:hover > .nav_hover {
    opacity: 1;
    visibility: visible;
}