/* @media (max-width: 426px) {
    .error_container {
        transform: scale(.65);
    }
    .btn {
        transform: scale(.8);
    }
    .trending_button_styling {
        transform: scale(.8);
    }
} */

@media (max-width: 426px) {
    .movie_data_container {
        display: flex;
        flex-direction: column;
        height: 75vh;
        
    }
    .app_container {
        width: 95%;
    }
    .movie_poster_container {
        padding: 5em;
    }
}