@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ff-primary: 'Unbounded', cursive;
    --transition-fast: 300ms ease-in-out;
    --transition-faster: 700ms ease-in-out;
    --transition-medium: 1000ms ease-in-out;

    --gradient-direction-1: to bottom right;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--ff-primary);
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    outline: none;
    background: none;
    line-height: 1;
    padding: 1em 3em;
    cursor: pointer;
    font-family: inherit;
    border-radius: 3px;

    transition: all .5s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
}

.bold_content {
    /* color: rgb(10 133 176); */
    color: rgb(176, 10, 10);
    font-weight: bolder;
}