/* for tablet */

@media (max-width: 770px) {
    .app_container {
        margin-top: 7rem;
        width: 90%;
    }

    .app_container_styling {
        overflow: visible;
    }
    
    .movie_data_container {
        display: flex;
        flex-direction: column;
        height: auto;
        transition: all var(--transition-medium);
    }
    
    .movie_poster_container {
        padding: 5em;
        transition: all var(--transition-medium);
    }
    
    .movie_information_container_styling {
        font-size: .9rem;
        transition: all var(--transition-medium);
    }

    .error_container {
        min-width: auto;
    }

    .container_hidden {
        margin-bottom: 0;
        padding: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transform: translate(-20rem);
    }
}

/* for mobiles */

@media (max-width: 501px) {
    .app_container {
        margin-top: 6rem;
    }

    .movie_poster_container {
        padding: 4em;
    }

    .movie_information_container_styling {
        font-size: .8rem;
    }

    .error_message {
        font-size: .7rem;
    }

    .container_hidden {
        margin-bottom: 0;
        padding: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transform: translate(-20rem);
    }
}