@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500&display=swap');

*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    font-weight: bold;
    background-image: linear-gradient(to bottom right, rgb(38, 43, 51), rgb(117, 105, 115),rgb(198, 109, 77));
}

/* utility classes */

.flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    border: none;
    border-radius: 50%;
    padding: 1.5em 1.8em;
    background-color: rgb(96, 94, 110);
    cursor: pointer;
}

.input {
    padding: .5em;
    border: none;
    outline: none;
    border-radius: 3px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all;
}

.input:focus {
    outline: 1px solid rgb(204, 204, 204);
    background-color: rgba(255, 255, 255, 0.7);
}

input::placeholder {
    color: darkslategrey;
}

/* component classes */

.right,
.left {
    width: 50%;
    padding: 4em;
    height: 100vh;
}

.left, .right {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.right{
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.input_redeem {
    cursor: pointer;
    width: 15rem;
    padding: 1em;
    opacity: 0;
    transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, outline 300ms ease-in-out;
}

.restart_btn_container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}

.restart_btn {
    color: white;
    background-image: linear-gradient(to bottom right, rgb(38, 43, 51), rgb(117, 105, 115),rgb(198, 109, 77));
    border-radius: 5px;
    margin-top: 20%;
    padding: 1.5em 3em;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 200ms ease-in-out,
    transform 300ms ease-in-out,
        box-shadow 300ms ease-in-out;
}

.restart_btn:active {
    transform: translateY(5px);
    box-shadow: none;
}

.txt_container {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: larger;
}

.ans_box {
    color: white;
    cursor: default;
    background-color: white;
    text-align: center;
    padding: 1.8em 2.7em;
    border-radius: 5px;
    font-size: larger;
    background-image: linear-gradient(to bottom right, rgb(38, 43, 51), rgb(117, 105, 115),rgb(198, 109, 77));
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.num_btn_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    width: 70%;
    gap: 1.8rem 4.1rem;
}

.btn_cmn {
    color: white;
    width: 4rem;
    height: 4rem;
    font-weight: bold;
    transition: transform 200ms ease-in-out;
}

.btn_cmn:active {
    transform: translateY(2px);
}