* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: gray; */
}

body {
    background-color: gray;
}

button {
    padding: 1.5em 4.5em;
    background-color: gray;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.btn {
    width: fit-content;
    margin: 10rem auto;
    /* padding: 1em 2em; */
}

button:hover {
    font-style: italic;
    background-color: white;
    color: black;
}

button:active {
    border: 5px double black;
}