*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
    color: white;

    padding: 5em 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

.btn {
    padding: 1em 2em;
    color: inherit;
    background: gray;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.btn:active {
    transform: translateY(1px);
}

.heading {
    margin-bottom: 5rem;
}

.input {
    padding: 1em;
    border-radius: 3px;
}

.list {
    margin-top: 2rem;
}

.list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.task {
    border: 2px solid wheat;
    flex-grow: 1;
    align-self: stretch;
    font-size: 1.1rem;
    padding: .5em;
    border-radius: 3px;
}

@media (max-width: 412px) {
    .input, .btnAdd, .btnClr {
        padding: .8em;
    }
}

@media (max-width: 342px) {
    .input, .btnAdd, .btnClr {
        padding: .6em;
    }
}

@media (max-width: 326px) {
    .input, .btnAdd, .btnClr {
        padding: .5em;
    }
    .form {
        transform: scale(.8);
    }
}