*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15vh 10vw;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0 3vw;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

input{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 1em;
}

button {
    background-color: transparent;
    border: none;
    color: white;
}